################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/FitnessTracker-CSE350
/.vs/FitnessTracker-CSE350/FileContentIndex
/.vs/FitnessTracker-CSE350/v17
